extends layout
block title
    title Detail
    link(href='/css/jRating.jquery.css', rel='stylesheet')

block content
  div(id='venue-id', display='none', data='#{venue._id}')
  div(id='csrf', display='none', data='#{_csrf}')
    div.row(id='firstRow')
      h2=venue.name
      div.col-md-12
            #header-carousel.carousel.slide
              .carousel-inner
                .item.active
                  img.fitdivimg(src="#{venue.photo[0]}")
                  .carousel-caption
                .item
                  img.fitdivimg(src="#{venue.photo[1]}")
                  .carousel-caption
                .item       
                  img.fitdivimg(src="#{venue.photo[2]}")
                  .carousel-caption
              a.left.carousel-control(href="#header-carousel", data-slide="prev")
                span.icon-prev
              a.right.carousel-control(href="#header-carousel", data-slide="next")
                span.icon-next
    div.row(id='secondRow')

      div.col-md-4(id='divForOpenhour')
        h3 Details
        ul
          li Likes: #{likes} 
          li Score: #{average}
          li Address: #{venue.address}
          li Building: #{venue.building}
          li Phone: #{venue.telephone}
          li Website: 
            a(href='http://#{venue.website}') #{venue.website} 
        hr    
        h3 Open Hour
        ul 
          li Mon: #{venue.openhour.mon}
          li Tue: #{venue.openhour.tue}
          li Wed: #{venue.openhour.wed}
          li Thu: #{venue.openhour.thu}
          li Fri: #{venue.openhour.fri}
          li Sat: #{venue.openhour.sat}
          li Sun: #{venue.openhour.sun}
          
      div.col-md-4(id='divForDetails')
        h3 Popular Tips
        div.popular-tip-scroll
          ul
            for tip in tips
              li #{tip.content} 
                br
                |@#{tip.date} 
                br
                |by #{tip.user.profile.name === '' ? 'Anonymous User' : tip.user.profile.name}

      div.col-md-4(id='divForTips')
        h3 Do you like #{venue.name}?
        .form-group
        | Rate it:
        //- NOTE: data-average is use for last time's rating, not for average rating.
        #rating-area
          #rating(data-average="#{rate}")
        .form-group
          -if(like)
            input.likeSign(type='checkbox', name='like', id='like', value='1', checked)
          -else
            input.likeSign(type='checkbox', name='like', id='like', value='0')
          label.control-label(for='like', display='none')  
            span#like-count #{likes}
            | &nbsp;Like
        hr
        form.form-horizontal(role='form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          h3 Leave your tips!
          textarea.noneResize(name='tip', id='tip', rows='10', cols='35', 
            aria-describedby='TipHelpBlock', wrap='hard',
            placeholder='Your tips help others to learn more about this venue!' required)
          span.help-block(id='TipHelpBlock') We appreciate your tips!
          .col-sm-6
            .checkbox
          .col-sm-offset-3.col-sm-4
          button.btn.btn-primary.setwith200(type='submit')
            | Add Tip »



          

block script
  script(type='text/javascript', src='/js/lib/jquery-2.1.1.min.js')
  script(type='text/javascript', src='/js/jRating.jquery.min.js')
  script(type='text/javascript', src='/js/like.js')
