extends layout
block title
    title Detail
    link(href='/css/style.css', rel='stylesheet')

block content
  div(id='venue-id', display='none', data='#{venue._id}')
  div(id='csrf', display='none', data='#{_csrf}')
    .row.clearfix
        .col-md-6.column.fill-left
          .row.clearfix
            .col-md-12.column
            h2=venue.name 
            h3 Photos 

            #header-carousel.carousel.slide
              ol.carousel-indicators
                li.active(data-target="#header-carousel", data-slide-to="0")
                li(data-target="#header-carousel", data-slide-to="1")
                li(data-target="#header-carousel", data-slide-to="2")
              .carousel-inner
                .item.active
                  img(src="#{venue.photo}", alt="0")
                  .carousel-caption
                .item
                  img(src="#{venue.photo}", alt="1")
                  .carousel-caption
                .item       
                  img(src="#{venue.photo}", alt="2")
                  .carousel-caption
              a.left.carousel-control(href="#header-carousel", data-slide="prev")
                span.icon-prev
              a.right.carousel-control(href="#header-carousel", data-slide="next")
                span.icon-next

            .col-md-12.column
            h3 Details
            .row
                .col-sm-6
                  p Likes: #{venue.like} 
                  p Score: #{venue.score}
                  p Address: #{venue.address}
                  p Building: #{venue.building}
                  p Phone: #{venue.telephone}
                  p OpenHour: Now #{venue.openhour.mon} 
                  ul 
                    li Monday: #{venue.openhour.mon}
                    li Tuesday: #{venue.openhour.tue}
                    li Wednesday: #{venue.openhour.wed}
                    li Thursday: #{venue.openhour.thu}
                    li Friday: #{venue.openhour.fri}
                    li Saturday: #{venue.openhour.sat}
                    li Sunday: #{venue.openhour.sun}
        
        .col-md-6.column.fill-right
          .row.clearfix
            .col-md-12.column
            h3 Popular Tips
            ul
              for tip in tips
                li #{tip.content}, #{tip.date}, #{tip.user.profile.name === '' ? 'A' : tip.user.profile.name}

                
            .col-md-12.column
            h3 My Tips
            h4 No tip yet? Add one now! 
            
            hr
            .form-group
              label.col-sm-3.control-label(for='like')  
                span#like-count #{likes}
                | &nbsp;Like
            -if(like)
              input.form-control(type='checkbox', name='like', id='like', checked)
            -else
              input.form-control(type='checkbox', name='like', id='like')
            form.form-horizontal(role='form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='tip') New Tip
                .col-sm-6
                  input.form-control(name='tip', id='tip')
                .col-sm-6
                  .checkbox
                    //- input.form-control(type='checkbox', name='like', id='like', #{like})
              .form-group
                .col-sm-offset-3.col-sm-4
                  button.btn.btn.btn-primary(type='submit')
                      | Add Tip 

block script
  script(type='text/javascript', src='/js/like.js')
