extends layout

block title
link(href='css/style.css', rel='stylesheet')

block content
    -if(typeof(venue[0]) !== 'undefined'){
    .row.clearfix
        .col-md-6.column
          h2="Top Venue"
          .row.clearfix
            .col-md-12.column
              a.h3(href='/venue/#{venue[0]._id}')=venue[0].name 
              //- TODO: Resize
              img(src="#{venue[0].photo}")
          .row.clearfix
            .col-md-12.column
              .row
                .col-sm-6
                  p Likes: #{venue[0].like} 
                  p Score: #{venue[0].score}
                  p Address: #{venue[0].address}
                  p Phone: #{venue[0].telephone}
                  a.btn.btn-lg.btn-default(href='/direction/#{venue[0]._id}') GO!

        if (venue.length > 1)
          .col-md-6.column
            .row.clearfix
              h2="Venues you may also like"
              .col-md-12.column
                a.h3(href='/venue/#{venue[1]._id}')=venue[1].name
                .row
                  .col-sm-6
                    p Likes: #{venue[1].like} 
                    p Score: #{venue[1].score}
                    p Address: #{venue[1].address}
                    p Phone: #{venue[1].telephone}
                    a.btn.btn-lg.btn-default(href='/direction/#{venue[1]._id}') GO!
            .row.clearfix
              .col-md-12.column
                a.h3(href='/venue/#{venue[2]._id}')=venue[2].name
                .row
                  .col-sm-6
                    p Likes: #{venue[2].like} 
                    p Score: #{venue[2].score}
                    p Address: #{venue[2].address}
                    p Phone: #{venue[2].telephone}
                    a.btn.btn-lg.btn-default(href='/direction/#{venue[2]._id}') GO!
    -}
    -else{
      h2 Oops!
    -}

block script
  script(src='https://maps.googleapis.com/maps/api/js')
  script(type='text/javascript', src='js/map_venue.js')
