extends layout

block title
link(href='css/style.css', rel='stylesheet')

block content
    -if(typeof(venue[0]) !== 'undefined'){
    .row.clearfix
        .col-md-6.column
          h2="Top Venue"
          .row.clearfix
            .col-md-12.column
              a.h3(href='/detail')=venue[0].name 
          #mapholder.map-frame
          .row.clearfix
            .col-md-12.column
              .row
                .col-sm-6
                  p Likes: #{venue[0].like} 
                  p Score: #{venue[0].score}
                  p Address: #{venue[0].address}
                  p Phone: #{venue[0].telephone}
                  a.btn.btn-lg.btn-default(href='/direction') GO!


        .col-md-6.column
          .row.clearfix
            h2="Venues you may also like"
            .col-md-12.column
              a.h3(href='/detail')=venue[1].name
              .row
                .col-sm-6
                  p Likes: #{venue[1].like} 
                  p Score: #{venue[1].score}
                  p Address: #{venue[1].address}
                  p Phone: #{venue[1].telephone}
                  a.btn.btn-lg.btn-default(href='/direction') GO!
          .row.clearfix
            .col-md-12.column
              a.h3(href='/detail')=venue[2].name
              .row
                .col-sm-6
                  p Likes: #{venue[1].like} 
                  p Score: #{venue[1].score}
                  p Address: #{venue[1].address}
                  p Phone: #{venue[1].telephone}
                  a.btn.btn-lg.btn-default(href='/direction') GO!
    -}
    -else{
      h2 Oops!
    -}

block script
  script(src='https://maps.googleapis.com/maps/api/js')
  script(type='text/javascript', src='js/map_venue.js')
